In [222]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [223]:
spark = SparkSession.builder.appName('SesionPractica2').getOrCreate()

In [224]:
df_spark = spark.read.csv('MOCK_DATA.csv', header = True, inferSchema=True)

In [225]:
df_spark.show(5)

+---+----------+----+----------+--------------------+------+--------------+-------+
| id|first_name| age|    gender|                 job|salary|   credit card|    car|
+---+----------+----+----------+--------------------+------+--------------+-------+
|  1|    Jaimie|  48|      Male|Payment Adjustmen...| 30550|  instapayment|   NULL|
|  2|   Fidelio|NULL|      Male| Marketing Assistant| 35313|        switch|Lincoln|
|  3|       Bel|  70|    Female|       Senior Editor| 41395|          NULL|  Volvo|
|  4|   Walther|NULL|      Male|Automation Specia...| 39315|china-unionpay|  Mazda|
|  5|    Shaine|  46|Non-binary|                NULL| 47798|           jcb|  Honda|
+---+----------+----+----------+--------------------+------+--------------+-------+
only showing top 5 rows

In [226]:
#drop all row whit null value
df_spark.na.drop().show(5)

+---+----------+---+------+--------------------+------+------------+---------+
| id|first_name|age|gender|                 job|salary| credit card|      car|
+---+----------+---+------+--------------------+------+------------+---------+
|  6|    Gerard| 15|  Male| Associate Professor| 21661|  mastercard|    Lexus|
|  9| Thorndike| 76|  Male|Chief Design Engi...| 38078|         jcb|    Acura|
| 12| Albertina| 44|Female| Account Coordinator| 29211|instapayment|  Porsche|
| 19|    Wendie| 36|Female|Desktop Support T...| 48713|         jcb|Chevrolet|
| 27|   Emanuel| 22|  Male|  Help Desk Operator| 38050|     maestro|  McLaren|
+---+----------+---+------+--------------------+------+------------+---------+
only showing top 5 rows

In [227]:
#drop a row whit all values null
df_spark.na.drop(how='all').show(5)

+---+----------+----+----------+--------------------+------+--------------+-------+
| id|first_name| age|    gender|                 job|salary|   credit card|    car|
+---+----------+----+----------+--------------------+------+--------------+-------+
|  1|    Jaimie|  48|      Male|Payment Adjustmen...| 30550|  instapayment|   NULL|
|  2|   Fidelio|NULL|      Male| Marketing Assistant| 35313|        switch|Lincoln|
|  3|       Bel|  70|    Female|       Senior Editor| 41395|          NULL|  Volvo|
|  4|   Walther|NULL|      Male|Automation Specia...| 39315|china-unionpay|  Mazda|
|  5|    Shaine|  46|Non-binary|                NULL| 47798|           jcb|  Honda|
+---+----------+----+----------+--------------------+------+--------------+-------+
only showing top 5 rows

In [228]:
#drop a row whit any values null
df_spark.na.drop(how='any').show(5)

+---+----------+---+------+--------------------+------+------------+---------+
| id|first_name|age|gender|                 job|salary| credit card|      car|
+---+----------+---+------+--------------------+------+------------+---------+
|  6|    Gerard| 15|  Male| Associate Professor| 21661|  mastercard|    Lexus|
|  9| Thorndike| 76|  Male|Chief Design Engi...| 38078|         jcb|    Acura|
| 12| Albertina| 44|Female| Account Coordinator| 29211|instapayment|  Porsche|
| 19|    Wendie| 36|Female|Desktop Support T...| 48713|         jcb|Chevrolet|
| 27|   Emanuel| 22|  Male|  Help Desk Operator| 38050|     maestro|  McLaren|
+---+----------+---+------+--------------------+------+------------+---------+
only showing top 5 rows

In [229]:
#drop a row whit <4 values null
df_spark.na.drop(how='all', thresh=4).show(5)

+---+----------+----+----------+--------------------+------+--------------+-------+
| id|first_name| age|    gender|                 job|salary|   credit card|    car|
+---+----------+----+----------+--------------------+------+--------------+-------+
|  1|    Jaimie|  48|      Male|Payment Adjustmen...| 30550|  instapayment|   NULL|
|  2|   Fidelio|NULL|      Male| Marketing Assistant| 35313|        switch|Lincoln|
|  3|       Bel|  70|    Female|       Senior Editor| 41395|          NULL|  Volvo|
|  4|   Walther|NULL|      Male|Automation Specia...| 39315|china-unionpay|  Mazda|
|  5|    Shaine|  46|Non-binary|                NULL| 47798|           jcb|  Honda|
+---+----------+----+----------+--------------------+------+--------------+-------+
only showing top 5 rows

In [230]:
#drop a row whit job values null
df_spark.na.drop(how='all', subset=['job']).show(5)

+---+----------+----+------+--------------------+------+--------------+-------+
| id|first_name| age|gender|                 job|salary|   credit card|    car|
+---+----------+----+------+--------------------+------+--------------+-------+
|  1|    Jaimie|  48|  Male|Payment Adjustmen...| 30550|  instapayment|   NULL|
|  2|   Fidelio|NULL|  Male| Marketing Assistant| 35313|        switch|Lincoln|
|  3|       Bel|  70|Female|       Senior Editor| 41395|          NULL|  Volvo|
|  4|   Walther|NULL|  Male|Automation Specia...| 39315|china-unionpay|  Mazda|
|  6|    Gerard|  15|  Male| Associate Professor| 21661|    mastercard|  Lexus|
+---+----------+----+------+--------------------+------+--------------+-------+
only showing top 5 rows

In [231]:
#filling the missing values
df_spark.na.fill('missing value').show(5)

+---+----------+----+----------+--------------------+------+--------------+-------------+
| id|first_name| age|    gender|                 job|salary|   credit card|          car|
+---+----------+----+----------+--------------------+------+--------------+-------------+
|  1|    Jaimie|  48|      Male|Payment Adjustmen...| 30550|  instapayment|missing value|
|  2|   Fidelio|NULL|      Male| Marketing Assistant| 35313|        switch|      Lincoln|
|  3|       Bel|  70|    Female|       Senior Editor| 41395| missing value|        Volvo|
|  4|   Walther|NULL|      Male|Automation Specia...| 39315|china-unionpay|        Mazda|
|  5|    Shaine|  46|Non-binary|       missing value| 47798|           jcb|        Honda|
+---+----------+----+----------+--------------------+------+--------------+-------------+
only showing top 5 rows

In [232]:
df_spark.na.fill('missing value',['job','gender']).show()

+---+----------+----+-------------+--------------------+------+--------------------+---------+
| id|first_name| age|       gender|                 job|salary|         credit card|      car|
+---+----------+----+-------------+--------------------+------+--------------------+---------+
|  1|    Jaimie|  48|         Male|Payment Adjustmen...| 30550|        instapayment|     NULL|
|  2|   Fidelio|NULL|         Male| Marketing Assistant| 35313|              switch|  Lincoln|
|  3|       Bel|  70|       Female|       Senior Editor| 41395|                NULL|    Volvo|
|  4|   Walther|NULL|         Male|Automation Specia...| 39315|      china-unionpay|    Mazda|
|  5|    Shaine|  46|   Non-binary|       missing value| 47798|                 jcb|    Honda|
|  6|    Gerard|  15|         Male| Associate Professor| 21661|          mastercard|    Lexus|
|  7|   Saunder|NULL|      Agender|   Financial Analyst|  NULL|                 jcb|     NULL|
|  8|     Maxim|NULL|         Male|     General Manager|  NULL|                 jcb| Chrysler|
|  9| Thorndike|  76|         Male|Chief Design Engi...| 38078|                 jcb|    Acura|
| 10|   Falkner|NULL|         Male|       missing value| 39823|                 jcb|     Ford|
| 11|   Nichole|NULL|missing value|Computer Systems ...| 37138|                 jcb|    Lexus|
| 12| Albertina|  44|       Female| Account Coordinator| 29211|        instapayment|  Porsche|
| 13|      Dena|NULL|       Female|     Media Manager I| 42030|                 jcb|     Ford|
| 14|   Hershel|  17|         Male| Safety Technician I|  NULL|                 jcb|     Ford|
| 15|   Chrisse|NULL|         Male|Computer Systems ...| 21015|                NULL|    Isuzu|
| 16|      Bari|  34|       Female|Business Systems ...| 38188|       visa-electron|     NULL|
| 17|      NULL|  58|         Male|Nuclear Power Eng...| 45667|     americanexpress|      Kia|
| 18|      Livy|NULL|       Female|    Dental Hygienist| 30314|diners-club-carte...| Chrysler|
| 19|    Wendie|  36|       Female|Desktop Support T...| 48713|                 jcb|Chevrolet|
| 20|    Luther|NULL|         Male|Compensation Analyst| 30389|                 jcb|    Lotus|
+---+----------+----+-------------+--------------------+------+--------------------+---------+
only showing top 20 rows

In [233]:
df_spark.show(20)

+---+----------+----+----------+--------------------+------+--------------------+---------+
| id|first_name| age|    gender|                 job|salary|         credit card|      car|
+---+----------+----+----------+--------------------+------+--------------------+---------+
|  1|    Jaimie|  48|      Male|Payment Adjustmen...| 30550|        instapayment|     NULL|
|  2|   Fidelio|NULL|      Male| Marketing Assistant| 35313|              switch|  Lincoln|
|  3|       Bel|  70|    Female|       Senior Editor| 41395|                NULL|    Volvo|
|  4|   Walther|NULL|      Male|Automation Specia...| 39315|      china-unionpay|    Mazda|
|  5|    Shaine|  46|Non-binary|                NULL| 47798|                 jcb|    Honda|
|  6|    Gerard|  15|      Male| Associate Professor| 21661|          mastercard|    Lexus|
|  7|   Saunder|NULL|   Agender|   Financial Analyst|  NULL|                 jcb|     NULL|
|  8|     Maxim|NULL|      Male|     General Manager|  NULL|                 jcb| Chrysler|
|  9| Thorndike|  76|      Male|Chief Design Engi...| 38078|                 jcb|    Acura|
| 10|   Falkner|NULL|      Male|                NULL| 39823|                 jcb|     Ford|
| 11|   Nichole|NULL|      NULL|Computer Systems ...| 37138|                 jcb|    Lexus|
| 12| Albertina|  44|    Female| Account Coordinator| 29211|        instapayment|  Porsche|
| 13|      Dena|NULL|    Female|     Media Manager I| 42030|                 jcb|     Ford|
| 14|   Hershel|  17|      Male| Safety Technician I|  NULL|                 jcb|     Ford|
| 15|   Chrisse|NULL|      Male|Computer Systems ...| 21015|                NULL|    Isuzu|
| 16|      Bari|  34|    Female|Business Systems ...| 38188|       visa-electron|     NULL|
| 17|      NULL|  58|      Male|Nuclear Power Eng...| 45667|     americanexpress|      Kia|
| 18|      Livy|NULL|    Female|    Dental Hygienist| 30314|diners-club-carte...| Chrysler|
| 19|    Wendie|  36|    Female|Desktop Support T...| 48713|                 jcb|Chevrolet|
| 20|    Luther|NULL|      Male|Compensation Analyst| 30389|                 jcb|    Lotus|
+---+----------+----+----------+--------------------+------+--------------------+---------+
only showing top 20 rows

In [234]:
from pyspark.ml.feature import Imputer

columns_to_impute = ['age', 'salary']

imputer = Imputer(
    inputCols=columns_to_impute, 
    outputCols=[f"{c}" for c in columns_to_impute]
).setStrategy("mean") #mean or mediam

df_pyspark_imputed = imputer.fit(df_spark).transform(df_spark)

In [235]:
df_pyspark_imputed.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- job: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- credit card: string (nullable = true)
 |-- car: string (nullable = true)

In [236]:
df_pyspark_imputed.show()

+---+----------+---+----------+--------------------+------+--------------------+---------+
| id|first_name|age|    gender|                 job|salary|         credit card|      car|
+---+----------+---+----------+--------------------+------+--------------------+---------+
|  1|    Jaimie| 48|      Male|Payment Adjustmen...| 30550|        instapayment|     NULL|
|  2|   Fidelio| 44|      Male| Marketing Assistant| 35313|              switch|  Lincoln|
|  3|       Bel| 70|    Female|       Senior Editor| 41395|                NULL|    Volvo|
|  4|   Walther| 44|      Male|Automation Specia...| 39315|      china-unionpay|    Mazda|
|  5|    Shaine| 46|Non-binary|                NULL| 47798|                 jcb|    Honda|
|  6|    Gerard| 15|      Male| Associate Professor| 21661|          mastercard|    Lexus|
|  7|   Saunder| 44|   Agender|   Financial Analyst| 35573|                 jcb|     NULL|
|  8|     Maxim| 44|      Male|     General Manager| 35573|                 jcb| Chrysler|
|  9| Thorndike| 76|      Male|Chief Design Engi...| 38078|                 jcb|    Acura|
| 10|   Falkner| 44|      Male|                NULL| 39823|                 jcb|     Ford|
| 11|   Nichole| 44|      NULL|Computer Systems ...| 37138|                 jcb|    Lexus|
| 12| Albertina| 44|    Female| Account Coordinator| 29211|        instapayment|  Porsche|
| 13|      Dena| 44|    Female|     Media Manager I| 42030|                 jcb|     Ford|
| 14|   Hershel| 17|      Male| Safety Technician I| 35573|                 jcb|     Ford|
| 15|   Chrisse| 44|      Male|Computer Systems ...| 21015|                NULL|    Isuzu|
| 16|      Bari| 34|    Female|Business Systems ...| 38188|       visa-electron|     NULL|
| 17|      NULL| 58|      Male|Nuclear Power Eng...| 45667|     americanexpress|      Kia|
| 18|      Livy| 44|    Female|    Dental Hygienist| 30314|diners-club-carte...| Chrysler|
| 19|    Wendie| 36|    Female|Desktop Support T...| 48713|                 jcb|Chevrolet|
| 20|    Luther| 44|      Male|Compensation Analyst| 30389|                 jcb|    Lotus|
+---+----------+---+----------+--------------------+------+--------------------+---------+
only showing top 20 rows

In [237]:
#para datos categoricos
from pyspark.ml.feature import StringIndexer
from pyspark.sql.functions import col, count, desc


indexer = StringIndexer(inputCols=['gender' ,'job' , 'credit card' ,'car'], outputCols = 
                        ['gender_indexed', 'job_indexed' , 'credit card_indexed','car_indexed'], handleInvalid="keep")
df_r = indexer.fit(df_pyspark_imputed).transform(df_pyspark_imputed)

In [238]:
df_r.show()

+---+----------+---+----------+--------------------+------+--------------------+---------+--------------+-----------+-------------------+-----------+
| id|first_name|age|    gender|                 job|salary|         credit card|      car|gender_indexed|job_indexed|credit card_indexed|car_indexed|
+---+----------+---+----------+--------------------+------+--------------------+---------+--------------+-----------+-------------------+-----------+
|  1|    Jaimie| 48|      Male|Payment Adjustmen...| 30550|        instapayment|     NULL|           0.0|       42.0|                7.0|       36.0|
|  2|   Fidelio| 44|      Male| Marketing Assistant| 35313|              switch|  Lincoln|           0.0|       13.0|                4.0|        1.0|
|  3|       Bel| 70|    Female|       Senior Editor| 41395|                NULL|    Volvo|           1.0|       53.0|               14.0|        5.0|
|  4|   Walther| 44|      Male|Automation Specia...| 39315|      china-unionpay|    Mazda|           0.0|       22.0|                5.0|        3.0|
|  5|    Shaine| 46|Non-binary|                NULL| 47798|                 jcb|    Honda|           5.0|       68.0|                0.0|        9.0|
|  6|    Gerard| 15|      Male| Associate Professor| 21661|          mastercard|    Lexus|           0.0|       20.0|                1.0|       10.0|
|  7|   Saunder| 44|   Agender|   Financial Analyst| 35573|                 jcb|     NULL|           3.0|        3.0|                0.0|       36.0|
|  8|     Maxim| 44|      Male|     General Manager| 35573|                 jcb| Chrysler|           0.0|       33.0|                0.0|        6.0|
|  9| Thorndike| 76|      Male|Chief Design Engi...| 38078|                 jcb|    Acura|           0.0|        2.0|                0.0|       12.0|
| 10|   Falkner| 44|      Male|                NULL| 39823|                 jcb|     Ford|           0.0|       68.0|                0.0|        0.0|
| 11|   Nichole| 44|      NULL|Computer Systems ...| 37138|                 jcb|    Lexus|           8.0|       25.0|                0.0|       10.0|
| 12| Albertina| 44|    Female| Account Coordinator| 29211|        instapayment|  Porsche|           1.0|        0.0|                7.0|       19.0|
| 13|      Dena| 44|    Female|     Media Manager I| 42030|                 jcb|     Ford|           1.0|       38.0|                0.0|        0.0|
| 14|   Hershel| 17|      Male| Safety Technician I| 35573|                 jcb|     Ford|           0.0|       50.0|                0.0|        0.0|
| 15|   Chrisse| 44|      Male|Computer Systems ...| 21015|                NULL|    Isuzu|           0.0|       24.0|               14.0|       23.0|
| 16|      Bari| 34|    Female|Business Systems ...| 38188|       visa-electron|     NULL|           1.0|        7.0|                8.0|       36.0|
| 17|      NULL| 58|      Male|Nuclear Power Eng...| 45667|     americanexpress|      Kia|           0.0|       39.0|                9.0|       16.0|
| 18|      Livy| 44|    Female|    Dental Hygienist| 30314|diners-club-carte...| Chrysler|           1.0|       10.0|                3.0|        6.0|
| 19|    Wendie| 36|    Female|Desktop Support T...| 48713|                 jcb|Chevrolet|           1.0|       29.0|                0.0|        2.0|
| 20|    Luther| 44|      Male|Compensation Analyst| 30389|                 jcb|    Lotus|           0.0|        9.0|                0.0|       27.0|
+---+----------+---+----------+--------------------+------+--------------------+---------+--------------+-----------+-------------------+-----------+
only showing top 20 rows

In [239]:
df_pyspark_imputed.show()

+---+----------+---+----------+--------------------+------+--------------------+---------+
| id|first_name|age|    gender|                 job|salary|         credit card|      car|
+---+----------+---+----------+--------------------+------+--------------------+---------+
|  1|    Jaimie| 48|      Male|Payment Adjustmen...| 30550|        instapayment|     NULL|
|  2|   Fidelio| 44|      Male| Marketing Assistant| 35313|              switch|  Lincoln|
|  3|       Bel| 70|    Female|       Senior Editor| 41395|                NULL|    Volvo|
|  4|   Walther| 44|      Male|Automation Specia...| 39315|      china-unionpay|    Mazda|
|  5|    Shaine| 46|Non-binary|                NULL| 47798|                 jcb|    Honda|
|  6|    Gerard| 15|      Male| Associate Professor| 21661|          mastercard|    Lexus|
|  7|   Saunder| 44|   Agender|   Financial Analyst| 35573|                 jcb|     NULL|
|  8|     Maxim| 44|      Male|     General Manager| 35573|                 jcb| Chrysler|
|  9| Thorndike| 76|      Male|Chief Design Engi...| 38078|                 jcb|    Acura|
| 10|   Falkner| 44|      Male|                NULL| 39823|                 jcb|     Ford|
| 11|   Nichole| 44|      NULL|Computer Systems ...| 37138|                 jcb|    Lexus|
| 12| Albertina| 44|    Female| Account Coordinator| 29211|        instapayment|  Porsche|
| 13|      Dena| 44|    Female|     Media Manager I| 42030|                 jcb|     Ford|
| 14|   Hershel| 17|      Male| Safety Technician I| 35573|                 jcb|     Ford|
| 15|   Chrisse| 44|      Male|Computer Systems ...| 21015|                NULL|    Isuzu|
| 16|      Bari| 34|    Female|Business Systems ...| 38188|       visa-electron|     NULL|
| 17|      NULL| 58|      Male|Nuclear Power Eng...| 45667|     americanexpress|      Kia|
| 18|      Livy| 44|    Female|    Dental Hygienist| 30314|diners-club-carte...| Chrysler|
| 19|    Wendie| 36|    Female|Desktop Support T...| 48713|                 jcb|Chevrolet|
| 20|    Luther| 44|      Male|Compensation Analyst| 30389|                 jcb|    Lotus|
+---+----------+---+----------+--------------------+------+--------------------+---------+
only showing top 20 rows

In [240]:
from pyspark.ml.feature import VectorAssembler

In [241]:
featuraassembler = VectorAssembler(inputCols=['gender_indexed', 'job_indexed', 'credit card_indexed', 'car_indexed'],
                outputCol='Independent_features')
output = featuraassembler.transform(df_r)

In [242]:
df_final = output.select('Independent_features', 'salary')

In [243]:
from pyspark.ml.regression import LinearRegression

In [244]:
df_final.show()

+--------------------+------+
|Independent_features|salary|
+--------------------+------+
| [0.0,42.0,7.0,36.0]| 30550|
|  [0.0,13.0,4.0,1.0]| 35313|
| [1.0,53.0,14.0,5.0]| 41395|
|  [0.0,22.0,5.0,3.0]| 39315|
|  [5.0,68.0,0.0,9.0]| 47798|
| [0.0,20.0,1.0,10.0]| 21661|
|  [3.0,3.0,0.0,36.0]| 35573|
|  [0.0,33.0,0.0,6.0]| 35573|
|  [0.0,2.0,0.0,12.0]| 38078|
|      (4,[1],[68.0])| 39823|
| [8.0,25.0,0.0,10.0]| 37138|
|  [1.0,0.0,7.0,19.0]| 29211|
|  [1.0,38.0,0.0,0.0]| 42030|
|      (4,[1],[50.0])| 35573|
|[0.0,24.0,14.0,23.0]| 21015|
|  [1.0,7.0,8.0,36.0]| 38188|
| [0.0,39.0,9.0,16.0]| 45667|
|  [1.0,10.0,3.0,6.0]| 30314|
|  [1.0,29.0,0.0,2.0]| 48713|
|  [0.0,9.0,0.0,27.0]| 30389|
+--------------------+------+
only showing top 20 rows

In [245]:
#train_data,test_data = df_final.randomSplit([0.7, 0.3])
train_data, test_data = df_final.randomSplit([0.7, 0.3], seed=12345)
regre = LinearRegression(featuresCol='Independent_features', labelCol='salary')
regre = regre.fit(train_data)

In [246]:
regre.coefficients

DenseVector([163.21, 81.8441, -6.4627, 41.006])

In [247]:
regre.intercept

31768.320025650657

In [248]:
pre_test = regre.evaluate(test_data)

In [250]:
pre_test.predictions.show()

+--------------------+------+------------------+
|Independent_features|salary|        prediction|
+--------------------+------+------------------+
|  [0.0,3.0,0.0,36.0]| 34365| 33490.06961970947|
| [0.0,11.0,0.0,36.0]| 31285|34144.822775295055|
|  [0.0,16.0,2.0,8.0]| 39162| 33392.94923026146|
|  [0.0,28.0,0.0,5.0]| 35573|34264.986231410505|
|  [0.0,33.0,0.0,6.0]| 35573| 34715.21298589355|
| [0.0,42.0,7.0,36.0]| 30550|36636.752477450194|
|[0.0,65.0,12.0,19.0]| 43223| 37789.75184040156|
|  [1.0,10.0,3.0,6.0]| 30314|32976.619610012975|
| [1.0,15.0,0.0,21.0]| 29911| 34020.31886263017|
| [2.0,32.0,8.0,11.0]| 35573|35113.117531014745|
|  [3.0,3.0,0.0,36.0]| 35573| 33979.69959922922|
|  [5.0,68.0,0.0,9.0]| 47798|  38518.8261041729|
|  [8.0,8.0,0.0,36.0]| 44815|35204.970287336444|
| [8.0,25.0,0.0,10.0]| 37138|  35530.1639046622|
| [8.0,45.0,4.0,11.0]| 48250|37182.202096874506|
|[8.0,67.0,14.0,14.0]| 43270| 39041.16454897677|
| [8.0,68.0,3.0,10.0]| 27834| 39030.07406918942|
| [8.0,68.0,3.0,28.0]| 39541|39768.182649546536|
+--------------------+------+------------------+